<div class="account-menu horizontal">
    {#if loading}
        <div title="Preparing your account">
            <Loading></Loading>
        </div>
    {/if}
    <Natricon></Natricon>
</div>

<style>
    .account-menu {
        position: absolute;
        top: 1rem;
        right: 1rem;
        height: 3rem;
        width: 3rem;
        background: var(--color-1);
        border-radius: 50%;
        overflow: visible;
        justify-content: center;
        z-index: 5;
    }
</style>

<script>
    import { Wallet } from './wallet';
    import { Api } from './api';
    import { AppStore } from './App.store';

    export default {
        async oncreate() {
            this.set({ natricon: localStorage.getItem('natricon') });
            const isNewUser = await Wallet.create();
            // Prep the wallet with some monies
            if (isNewUser) {
                this.set({ loading: true })
                const [faucetResponse] = await Promise.all([
                    Api.faucet(Wallet.address),
                    Api.signup(Wallet.address),
                ]);
                await Wallet.receive(faucetResponse.block, faucetResponse.amount);
                this.set({ loading: false });
            }

            AppStore.set({ walletAddress: Wallet.address });
        },
        components: {
            Natricon: './Natricon',
            Loading: './Loading',
        }
    }
</script>