<AccountMenu></AccountMenu>
<div id="app" class="vertical">
</div>
<style>
	#app {
		height: 100%;
		width: 100%;
	}
</style>

<script>
	import Router from './Router/Router.html';
	import Routes from './Routes.js';

	export default {
		oncreate() {
			this.router = new Router({
				target: document.querySelector('#app'),
				data: { routes: Routes }
			});
		},
		components: {
			AccountMenu: './AccountMenu'
		}
	}

</script>