<div class="modal">
    <header>
        <div class="logo"></div>
        <div class="message">Login to css-tricks.com</div>
    </header>
    <div class="roles">No additional permissions</div>
    <div class="controls">
        <button class="deny">Deny</button>
        <button class="approve">Approve</button>
    </div>
</div>

<style>
    .modal {
        --logo-size: 8rem;
        position: relative;
        display: grid;
        grid-template-rows: auto 1fr auto;
        margin: auto;
        padding: 2rem;
        padding-left: var(--logo-size);
        max-height: 45vw;
        min-height: var(--logo-size);
        width: 80vw;
        max-width: 480px;
        background: linear-gradient(0deg, var(--color-0) 0%, var(--color-1) 75%, var(--color-2) 100%);
        color: black;
        border-radius: 5px;
        box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.24), 1px 2px 4px 0px rgba(0, 0, 0, 0.54);
    }

    header {
        display: flex;
        padding: 1rem 0;
        margin: -2rem;
        margin-bottom: 0;
        padding-left: 1rem;
        color: var(--color-4);
        font-size: 1.5rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: calc(var(--logo-size) / -4);
        left: calc(var(--logo-size) / -4);
        height: var(--logo-size);
        width: var(--logo-size);
        border-radius: 50%;
        background: var(--color-0);
        box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.24), 1px 2px 4px 0px rgba(0, 0, 0, 0.54);
    }

    .controls {
        margin-top: 2rem;
        justify-self: end;
    }

    .approve {
        background: var(--color-2);
        text-shadow: 0px 1px 2px var(--color-0);
    }

    .controls .deny {
        box-shadow: inset 0 0 0 2px var(--color-3);
        color: var(--color-3);
    }
    
    .controls button {
        padding: .5rem 1rem;
        min-width: 6rem;
        color: var(--color-4);
        margin-left: .5rem;
        border-radius: 5px;
    }

    @media screen and (max-width: 480px) {
        .modal {
            padding-left: 2rem;
            height: auto;
            width: calc(100vw - var(--logo-size));
            max-height: unset;
        }

        header {
            padding-left: var(--logo-size);
            padding-right: 2rem;
        }

        .roles {
            margin-top: 4rem;
        }

        .controls {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .controls button {
            flex: 1 1 0;
            margin-top: .5rem;
        }
    }
</style>