<div class="card shadow-5">
    <h1>NanoAuth</h1>
    <div class="content vertical center">
        <p>Login to some website</p>
        {#if loading}
            <div title="Preparing your account">
                <Loading></Loading>
            </div>
        {/if}
    </div>
    <div class="actions">
        <div class="flex"></div>
        {#if !loading}
        <div class="buttons">
            <span class="button deny">Deny</span>
            <span class="button approve" on:click="approve()">Approve</span>
        </div>
        {/if}
    </div>
</div>

<style>
.card {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: linear-gradient(0deg, var(--color-0) 0%, var(--color-0) 10%, var(--color-1) 100%);
    padding: 1rem;

    height: 300px;
    width: 450px;
    max-height: 95vh;
    max-width: 95vw;
    border-radius: 16px;
}

h1 {
    margin: -1rem;
    margin-bottom: 0rem;
    padding: 1rem;
    color: #c1d8e2;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: 700;
}

.button {
    display: inline-block;
    background: var(--color-2);
    color: white;
    padding: .5rem 2rem;
    border-radius: 34px;
    margin-left: .5rem;
    cursor: pointer;
}

.button.deny {
    background: transparent;
    color: #c1d8e2;
    border: 1px solid #c1d8e2;
    font-weight: 700;
}

.content {
    flex: 1 1 auto;
}

.actions {
    display: flex;
    justify-content: space-between;
}
</style>

<script>
    import { Wallet } from './wallet';
    import { Api } from './api';
    import { AppStore } from './App.store';

    function getUid() {
        const query = location.hash.split('?')[1];
        const params = new URLSearchParams(query);
        return params.get('uid');
    }

    function sleep(timeMs) {
        return new Promise(res => setTimeout(res, timeMs));
    }

    export default {
        data: () => ({
            loading: true,
        }),
        async oncreate() {
            const uid = getUid();

            const address = await this.blockUntilWalletCreated();
            const details = await Api.beginAuthInteraction(uid);
            const statusResponse = await Api.verifyAuthInteractionComplete(uid, Wallet.address);

            await this.blockUntilApproval();

            await Wallet.send({ destination: statusResponse.addressToSendFundsTo, amount: 1 });

            // Begin polling status
            while (true) {
                const statusResponse = await Api.verifyAuthInteractionComplete(uid, address);
                if (statusResponse.transactionConfirmed) {
                    break;
                } else {
                    await sleep(1000);
                }
            }

            await Api.finalizeAuthInteraction(uid).catch(err => console.log(err));

            location.assign(`${location.origin}/api/auth/${uid}`);
        },
        methods: {
            blockUntilApproval() {
                return new Promise((resolve, reject) => this.set({ approvalResolver: { resolve, reject }, loading: false }));
            },
            blockUntilWalletCreated() {
                return new Promise(res => {
                    const sub = AppStore.on('state', ({ current }) => {
                        if (current.walletAddress) {
                            res(current.walletAddress);
                            sub.cancel();
                        }
                    });
                });
            },
            approve() {
                this.set({ loading: true });
                this.get().approvalResolver.resolve();
            },
            reject() {
                this.set({ loading: true });
                this.get().approvalResolver.reject();
            }
        },
        components: {
            Loading: './Loading'
        }
    }
</script>