<div class="home-view">
    <header class="horizontal">
        <h1>Nanoauth</h1>
        <a class="demo-link shadow-2" href="https://streamable.com/43yux0" target="_blank">See Demo</a>
        <div class="pitch">Log in to any site or service. No sign-ups required. No password required. Powered by NANO at
            no cost to you.</div>
        <div class="waves">
            <Wave></Wave>
        </div>
    </header>
    <article>
        <div class="article-wrapper vertical">
            <h2>Getting Started</h2>
            <section class="horizontal">
                <div class="step">
                    <h3>Step</h3>
                    <span>1</span>
                </div>
                <div class="flex">
                    <h3>Profit! 💰</h3>
                    <p>Thats it.. you're already done! Just by visiting NanoAuth you've prepared your first account.</p>
                    <p>Any site that lets you log in with Facebook or Google can log in with NanoAuth.</p>
                </div>
            </section>
            <section class="horizontal">
                <div class="step">
                    <h3>Step</h3>
                    <span>2</span>
                </div>
                <div class="flex">
                    <h3>Start using NanoAuth on a supported site</h3>
                    <p>Check out this <a href="https://streamable.com/43yux0" target="_blank">demo</a> of the simple process.</p>
                </div>
            </section>
        </div>
    </article>
    <article>
        <div class="article-wrapper vertical">
            <h2>Technical Details</h2>
            <section class="horizontal">
                <div class="tech-description flex">
                    <p>NanoAuth is an Oauth service allowing any site to authenticate their users. Websites can integrate NanoAuth directly or use other auth providers such as <a target="_blank" href="https://auth0.com">Auth0</a>.</p>
                    <p>To authenticate a user, NanoAuth uses a custom made in-browser wallet to sign and broadcast a send transaction of 1raw to a generated NANO address. When the send block is received by the server the user's identity has been verified and the auth flow continues.  A user's NANO wallet is kept secure by encrypting all data at rest on device using AES-128bit encryption ensuring users always have control of their keys.</p>
                    <p>Users benefit from low-barrier to entry of never needing to create an account with NanoAuth. Users simply press a sign in button on their device to login.</p>
                    <p>Be sure to look at your account at the top right where you've been identified by a generated <a target="_blank" href="https://natricon.com">Natricon</a>.</p>
                </div>
                <ul class="tech-features no-shrink">
                    <li>OpenID Connect Complient</li>
                    <li>Implicit Auth Flow</li>
                    <li>Custom Wallet <a target="_blank" href="https://web.dev/progressive-web-apps/">PWA</a></li>
                    <li>AES Encrypted Client Storage</li>
                    <li>Identify users by their NANO address</li>
                </ul>
            </section>
        </div>
    </article>
    <article>
        <div class="article-wrapper vertical">
            <h2>Room To Grow</h2>
            <section class="room-to-grow horizontal">
                <p>Same identity on multiple devices</p>
                <p>Password/PIN prompt when unlocking wallet</p>
                <p>Add External Wallet to Account</p>
                <p>Revoke accounts</p>
            </section>
        </div>
    </article>
</div>

<style>
    .demo-link {
        position: absolute;
        top: 1.5rem;
        right: 5rem;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--color-5);
        background: var(--color-1);
        padding: .35rem 1rem;
        border-radius: 16px;
    }

    .demo-link:visited {
        color: var(--color-4);
    }

    .home-view {
        width: 100%;
    }

    article {
        margin: 0 auto;
        max-width: 1200px;
        top: -2.5rem;
        padding: 1rem;
        position: relative;
    }

    .article-wrapper {
        background: var(--color-4);
        border-radius: 16px;
        padding: 1rem;
        position: relative;
    }

    header {
        position: relative;
        width: 100%;
        height: 20rem;
        background: var(--color-0);
        padding: 1rem;
    }

    .waves {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6rem;
    }

    h1 {
        position: absolute;
        top: 1rem;
        left: 1rem;
        margin: 0;
        line-height: 3rem;
        color: var(--color-5);
        text-transform: uppercase;
        letter-spacing: 6px;
        font-size: 24px;
        font-weight: 700;
    }

    .pitch {
        text-align: center;
        max-width: 24rem;
        margin: auto;
        color: var(--color-5);
        font-size: 24px;
        font-weight: 300;
        z-index: 4;
    }

    article h2 {
        margin: 0;
        padding-left: 1rem;
        padding-bottom: 2rem;
        font-weight: 300;
        font-size: 32px;
    }

    h3 {
        margin: 0;
    }

    .step {
        align-self: flex-start;
        padding: .5rem 1rem;
        margin-right: 2rem;
        margin-left: 1rem;
        color: var(--color-4);
        background: var(--color-1);
        border-radius: 16px;
    }

    .step h3 {
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 0;
        font-weight: 300;
    }

    .step span {
        display: inline-block;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        width: 100%;
        line-height: 1;
    }

    .tech-features {
        width: 12rem;
    }

    .tech-features li {
        padding-bottom: .5rem;
    }

    .room-to-grow {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .room-to-grow p {
        max-width: 10rem;
        text-align: center;
        padding: 0 1rem;
    }
</style>

<script>
    export default {
        components: {
            Wave: './Wave',
        }
    }
</script>