<div class="loading-spinner shadow-2">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <div class="circle circle-3"></div>
</div>

<style>
.loading-spinner {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: var(--color-0);
}

.circle {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    animation: 3s spinBoi infinite linear;
}

.circle-1 {
    top: 0;
    left: .5rem;
    transform-origin: top left;
    z-index: 4;
    background: var(--color-1);
    animation-delay: -1s;
    animation-duration: 3.5s;
}

.circle-2 {
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    z-index: 3;
    background: var(--color-2);
    animation-delay: -.5s;
    animation-duration: 2s;
}

.circle-3 {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
    z-index: 2;
    background: var(--color-3);
    animation-delay: -.25s;
}

@keyframes spinBoi {
    to {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}
</style>
