{#if natriconSvg}
<img ref:natricon alt="Natricon">
{/if}

<style>
    img {
        height: 150%;
        width: 150%;
        transform: translate3d(0, -8px, 0);
    }
</style>

<script>
    import { AppStore } from './App.store';

    export default {
        oncreate() {
            AppStore.on('state', async ({ current }) => {
                if (current.walletAddress) {
                    const natriconKey = 'natricon_' + current.walletAddress;
                    let natriconSvg = localStorage.getItem(natriconKey);
                    if (!natriconSvg) {
                        natriconSvg = await fetch(`https://natricon.com/api/v1/nano?address=${current.walletAddress}`)
                            .then(res => res.text())
                            .then(natricon => {
                                localStorage.setItem(natriconKey, natricon);
                                return natricon;
                            });
                    }

                    this.set({ natriconSvg });
                    requestAnimationFrame(() => {
                        const blob = new Blob([natriconSvg], { type: 'image/svg+xml' });
                        const url = URL.createObjectURL(blob);
                        const image = this.refs.natricon;
                        image.src = url;
                        image.addEventListener('load', () => URL.revokeObjectURL(url), { once: true });
                    });
                }
            });
        },
    }
</script>